{% extends "base.html" %}
{% load static %}
{% block title_text %}Editar Perfil{% endblock %}
{% block h1_text %}Editar perfil{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center flex-wrap gap-5 mt-5">
  <form method="post" enctype="multipart/form-data" class="flex-grow-1" style="max-width: 500px; min-width: 300px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100">Guardar cambios</button>
  </form>
  <img src="{% static 'assets/img/edit_profile.png' %}" alt="Editar Perfil" class="img-fluid shadow rounded" style="max-width: 400px;">
</div>
{% endblock %}
