{% extends "base.html" %}

{% block title_text %}Editar perfil{% endblock title_text %}
{% block h1_text %}Editar perfil{% endblock h1_text %}

{% block main %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formulario.as_p }}

    <label for="id_avatar">Cambiar avatar:</label>
    <input type="file" name="avatar" id="id_avatar">

    {% if avatar_actual %}
      <p>Avatar actual:</p>
      <img src="{{ avatar_actual }}" alt="Avatar" width="100">
    {% endif %}

    <button type="submit">Guardar cambios</button>
  </form>
{%endblock main%}