{% extends "base.html" %}
{% load static %}

{% block content %}{% endblock %}
{% block title_text %}Registrarse{% endblock %}

{% block main %}
<div class="container text-center mt-2">
  <h1 class="fw-bold mb-4">Registrarse</h1>
</div>

<div class="container d-flex justify-content-center align-items-center flex-wrap gap-5 mb-5">
  <div class="flex-grow-1" style="max-width: 500px; min-width: 300px;">
    <form method="post">
      {% csrf_token %}
      {{ formulario.as_p }}
      <button type="submit" class="btn btn-primary w-100">Registrarse</button>
    </form>
  </div>
  <div>
    <img src="{% static 'assets/img/register.png' %}" alt="Registro" class="img-fluid shadow rounded" style="max-width: 400px;">
  </div>
</div>
{% endblock main %}